$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "components-font-awesome/scss/font-awesome.scss";
// endbower

// Imports
@import "variables";
@import "custom_css";

// /* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//   .container {
//     max-width: 730px;
//   }
// }


.sidebar {
  position: fixed;
  padding-left: 2em
}

.content-row {
  background-color: #B6B6FF;
  padding-left: 3.7em;
  padding-top: 2.8em;
  height: 290px
}
