<center><img src="images/dre/baby_dre.gif" class="img-responsive"></center>
<br>

Hi, I'm Andrea.
I've been digitally designing since I was 8, thank you Sims and back-end developing since I was 12, thank you myspace. It all stemmed from my love of user interfaces and user experiences; little did I know it would receive a title, let alone become my career. All those summers at Roller Coaster Tycoon camp paid off.
I dove head first into development, because I love being able to be involved in the whole process and implement what I design. I've learned so much in this land of the wizards and keep learning every single time I touch a line of code.
It's a minified version of everything the Brandcenter stands for.
<ul>
	<li>Management- back-end tools, de-bugging and deployment (networking).</li>
	<li> Strategy- which being self-taught has basically been a series of ball busters.</li>
	<li>Copy- honestly, should’ve been apart of the strategy phase looking at everything backwards… <br>could’ve saved so much tiiime. -__- but hey, that’s me, ~~live n’ learn~~</li>
	<li>Design- Every time I learn a new development feature I discover a better way to design. <br>There are so many important design specs for a natural user experience, <br>it honestly takes me longer to redesign than it does to code.. <br>having a designer understand the meaning behind the mechanics does away with the entire awkward waterfall system.</li>
	<li>UX- this part comes naturally to me and is definitely the most fun. It’s reassuring knowing all my <br>OCD and irritated outbursts as a child have a rationale meaning now.. or thats just what I keep telling myself. <br>The world would be filled with less grumpy's if things were built with the user in mind from the getco.</li>
</ul>
<br>
Feel free to contact me whenever, I promise I’m a great conversationalist.
