<div class="row">
  <div class="col-fluid">
    <div class="m-header">
      <h3>The Brandcenter Job</h3>
      Video promoting our Rube Goldberg Matchbox Machiene.
    </div>
  </div>
</div>

<div class="embed-responsive embed-responsive-16by9">
  <iframe src="https://player.vimeo.com/video/163944252" width="780" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<div class="row">
  <div class="col-fluid">
    <div class="matchbox">
      <h4>The Task:</h4>
      Our Business of Branding team was tasked with creating a Rube Goldberg machine for the brand, Matchbox, targeted towards 5-9 year old children.  The machine could not exceed 8x8 feet and had to deliver a promotional item at the end. The first trigger of the machine had to be a person inserting a nickel and consist of at least 12 triggers.
      <br>
    </div>
  </div>
</div>
<hr>

<nav>
<ul class="pager">
<li><a href="/#/fun">
<span class="glyphicon glyphicon-menu-left"></span><span class="glyphicon glyphicon-menu-left"></span>
back
</a></li>
<li><a href="/#/fun2">prism
<span class="glyphicon glyphicon-menu-right"></span><span class="glyphicon glyphicon-menu-right"></span>
</a></li>
</ul>
</nav>

<!-- Footer -->
      <div class="footer">
        <section id="contact">
          <div class="links text-center">
            <a href="mailto:vegajandrea@gmail.com">
              <span class="glyphicon glyphicon-envelope"></span>
              <p class="text-center">
                <b>vegajandrea@gmail.com</b>
              </p>
            </a>
          </div>
          <div class="imgholder">
              <p>
                <ul class="list-inline text-center">
                  <li>
                    <a href="https://www.linkedin.com/in/andrea-vega-a5850b92" class="imglink">
                      <img src="images/dre/linkedin.png" alt="Image" width="30" height="auto" class="img-responsive">
                    </a>
                  </li>
                <li>
                  <a href="https://twitter.com/dreavegaa" class="imglink">
                    <img src="images/dre/twitter.png" alt="Image" width="30" height="auto" class="img-responsive">
                  </a>
                </li>
                <li>
                  <a href="https://github.com/dreavega" class="imglink">
                    <img src="images/dre/github.png" alt="Image" width="30" height="auto" class="img-responsive">
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/dreavegaa/" class="imglink">
                    <img src="images/dre/instagram.png" alt="Image" width="30" height="auto" class="img-responsive">
                  </a>
              </li>
            </ul>
          </p>
        </div>
      </section>
