<div class="row">
  <div class="col-fluid">
    <div class="prism">
      <center><img src="images/prism/p-logo2.png" class="img-responsive"></center><br>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://player.vimeo.com/video/159531300" width="780" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="p3">
        <center>
            <h3><b>We failed at prototyping for a music hack-a-thon  <br>and turned it into a lesson on pivoting.</b></h3>
          </center>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-4 col-md-4">
    <div class="P1">
      <h3><b>"It's like a horror movie."</b></h3>
    </div>
  </div>
  <div class="col-lg-8 col-md-8">
    <div class="P2">
      <p>
        <h4><b>Overview</b></font></h4>
        A line of instruments <b>initially</b> designed for musical experimentation, collaboration, practice, and sharing, but now <i>accidentally</i> for serial killers.
      </p>
      <p>
        <h4><b>Challenge:</b></font></h4>
        Hack Music. We most definitely hacked music.
      </p>
    </div>
  </div>
</div>

<hr>
  <center>
    <b>User Testing:</b> The sound our instrument prototype made when user tested was nightmarish, instead of beautiful...
  </center>
<hr>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="p4">
    <p style="font-size:20px"><b>Solution:</b> <i>Pivot.</i> Providing customizable DIY background music for horror films.</p>
    </center>
  </div>
</div>
</div>
<br>
<div class="row">
  <div class="col-lg-6 col-md-6">
    <div class="P5">
      <h4>The prototype:</h4>
        Pegs placed in holes on all three sides pluck the spinning strings and make a uniquely horrifying sound.
        <br><br>
        <img src="images/prism/proto.gif" class="img-responsive"><br>
    </div>
  </div>
  <div class="col-lg-6 col-md-6">
    <div class="P5">
      <h4>The Prism Family:</h4>
        Sketches of several instruments in the prism line, each inspired by a classic instrument.
        <br><br>
        <img src="images/prism/p-fam.gif" class="img-responsive"><br>
    </div>
  </div>
</div>

<hr>
  <center>
    <h3>PRISM: Create Something Horrific.</h3>
    <img src="images/prism/p-blue.gif" class="img-responsive">
<hr>
<br>

<b>XD Team:</b>
<a href="http://danowen.co/">Dan Owen</a>,
<a href="http://oliviareidcooper.com/un-portfolio/prism/">Olivia Cooper</a>,
<a href="http://www.katie-cullinan.co/">Katie Cullen</a>
<br>
<br>

<hr>
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="tools">
          <font size="3" color="grey"><b>Tools:    </b></font>
              <li><font size="2" color="grey">Pen &amp; Paper </font></li>
              <li><font size="2" color="grey">Hammer, Nail, Drill</font></li>
              <li><font size="2" color="grey">12-String Guitar</font></li>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="skills">
          <font size="3" color="grey"><b>Skills:</b></font>
              <li><font size="2" color="grey">Wireframing</font></li>
              <li><font size="2" color="grey">Physical Prototyping</font></li>
              <li><font size="2" color="grey">Elbow Grease</font></li>
        </div>
      </div>
    </div>

<hr>

<nav>
<ul class="pager">
<li><a href="/#/fun1">
<span class="glyphicon glyphicon-menu-left"></span><span class="glyphicon glyphicon-menu-left"></span>
rube goldberg
</a></li>
<li><a href="/#/fun3">window
<span class="glyphicon glyphicon-menu-right"></span><span class="glyphicon glyphicon-menu-right"></span>
</a></li>
</ul>
</nav>

<!-- Footer -->
      <div class="footer">
        <section id="contact">
          <div class="links text-center">
            <a href="mailto:vegajandrea@gmail.com">
              <span class="glyphicon glyphicon-envelope"></span>
              <p class="text-center">
                <b>vegajandrea@gmail.com</b>
              </p>
            </a>
          </div>
          <div class="imgholder">
              <p>
                <ul class="list-inline text-center">
                  <li>
                    <a href="https://www.linkedin.com/in/andrea-vega-a5850b92" class="imglink">
                      <img src="images/dre/linkedin.png" alt="Image" width="30" height="auto" class="img-responsive">
                    </a>
                  </li>
                <li>
                  <a href="https://twitter.com/dreavegaa" class="imglink">
                    <img src="images/dre/twitter.png" alt="Image" width="30" height="auto" class="img-responsive">
                  </a>
                </li>
                <li>
                  <a href="https://github.com/dreavega" class="imglink">
                    <img src="images/dre/github.png" alt="Image" width="30" height="auto" class="img-responsive">
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/dreavegaa/" class="imglink">
                    <img src="images/dre/instagram.png" alt="Image" width="30" height="auto" class="img-responsive">
                  </a>
              </li>
            </ul>
          </p>
        </div>
      </section>
