<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="window">
    <img src="images/window/ask.jpg" width="815px" height="auto" class="img-responsive">
    <img src="images/window/header.jpg" width="820px" height="auto" class="img-responsive"><br><br>
      <b>Problem:</b> As Millennials age and postpone having children to further their education, pursue careers and travel around the world; planning to have children gets put on the back burner and before they know it they’re in their mid-30’s and early 40’s struggling to have children.
    <br>
    <center><h3><b>THE FACTS</b></h3>
      <img src="images/window/facts.gif" class="img-responsive"><br><br>
      Misconceptions about infertility are negatively impacting individual’s ability to conceive and become pregnant. However, this doesn’t need to be the case. New technologies available today allow family planning to be done on their own time.
    </center>
    <br>
    <hr>
<center><h3><b>THE SOLUTION</b></h3><br>
  <img src="images/window/window_logo.jpg" width="800px" height="auto" class="img-responsive">
</center>
<br>
<b>Solution:</b> A platform that showcases fertility misconceptions, the various new assistive reproductive technologies and provides a method for personalized future family planning.
<br><br>
<br>
<center>
  <img src="images/window/window.jpg"  width="800px" height="auto" class="img-responsive">
  <br>
  <h3>Revealing the unforeseen challenges responsible adults <br>may face when trying to become loving parents.</h3>
</center>
<br>
<hr>
<br>
<center>
  <img src="images/window/flow.jpg"  width="835px" height="auto" class="img-responsive"><br><br>
  <img src="images/window/user.jpg"  width="805px" height="auto" class="img-responsive"><br><br>
  <img src="images/window/journey.jpg"  width="800px" height="auto" class="img-responsive"><br><br>
  <br><hr><br>
  <h3><b>JOURNEY MARKETING EXAMPLES</b></h3>
  <img src="images/window/ads.jpg"  width="800px" height="auto" class="img-responsive"><br><br><br>
  <b>Instagram Ads:</b> Sponsored Ads would be featured on target demographic feeds and locations where physical print ads would live.<br><br>
  <img src="images/window/print.jpg"  width="800px" height="auto" class="img-responsive"><br><br><br>
  <b>Print Ad's:</b> Would be placed throughout busy cities and public transportation locations, like Metro Stations.<br><br>
  <hr>
<h3><b>PROTOTYPE</b></h3>  <br>
  <img src="images/window/web.png"  width="800px" height="auto" class="img-responsive"><br><br><br>
  <img src="images/window/1.gif" class="img-responsive"><br><br><br><br>
  <img src="images/window/2.gif" class="img-responsive"><br><br><br>
  <b>Section One:</b> Displays statistics focused on the user’s lifestyle choice.<br><br><br>
  <img src="images/window/3.png" width="600px" height="auto" class="img-responsive"><br><br>
  <b>Section Two:</b> Discover information regarding any questions around infertility, new assisted reproductive technologies and common misconceptions.<br><br><br>
  <img src="images/window/4.gif" width="600px" height="auto" class="img-responsive"><br><br>
  <b>Section Three:</b> Questionnaire reveals where users stand on the fertility timeline.<br><br>
  <img src="images/window/5.png" width="600px" height="auto" class="img-responsive"><br><br>
  <b>Section Four:</b> The last section provides users with the option to plan their fertility time line throughout a 5-10 year cycle. Google Calendars allows the user to receive updates and change their plan according to their future.<br>
</center>
<hr><br>
<center><h3><b>OVERALL</b></h3>
  <img src="images/window/last.jpg" width="810px" height="auto" class="img-responsive"><br><br>
  <img src="images/window/last2.jpg" width="800px" height="auto" class="img-responsive">
</center>
</div>
</div>
</div>


<hr>
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="tools">
          <font size="3" color="grey"><b>Tools:    </b></font>
              <li><font size="2" color="grey">Sketch </font></li>
              <li><font size="2" color="grey">Photoshop  </font></li>
              <li><font size="2" color="grey">Principle   </font></li>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="skills">
          <font size="3" color="grey"><b>Skills:</b></font>
              <li><font size="2" color="grey">Wireframing</font></li>
              <li><font size="2" color="grey"></font>User Interface</li>
              <li><font size="2" color="grey">User Experience</font></li>
        </div>
      </div>
    </div>
<hr>

    <nav>
    <ul class="pager">
    <li><a href="/#/fun2">
    <span class="glyphicon glyphicon-menu-left"></span><span class="glyphicon glyphicon-menu-left"></span>
      prism
      </a></li>
    <li><a href="/#/fun5">pepsi animation
    <span class="glyphicon glyphicon-menu-right"></span><span class="glyphicon glyphicon-menu-right"></span>
    </a></li>
    </ul>
    </nav>

    <!-- Footer -->
          <div class="footer">
            <section id="contact">
              <div class="links text-center">
                <a href="mailto:vegajandrea@gmail.com">
                  <span class="glyphicon glyphicon-envelope"></span>
                  <p class="text-center">
                    <b>vegajandrea@gmail.com</b>
                  </p>
                </a>
              </div>
              <div class="imgholder">
                  <p>
                    <ul class="list-inline text-center">
                      <li>
                        <a href="https://www.linkedin.com/in/andrea-vega-a5850b92" class="imglink">
                          <img src="images/dre/linkedin.png" alt="Image" width="30" height="auto" class="img-responsive">
                        </a>
                      </li>
                    <li>
                      <a href="https://twitter.com/dreavegaa" class="imglink">
                        <img src="images/dre/twitter.png" alt="Image" width="30" height="auto" class="img-responsive">
                      </a>
                    </li>
                    <li>
                      <a href="https://github.com/dreavega" class="imglink">
                        <img src="images/dre/github.png" alt="Image" width="30" height="auto" class="img-responsive">
                      </a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/dreavegaa/" class="imglink">
                        <img src="images/dre/instagram.png" alt="Image" width="30" height="auto" class="img-responsive">
                      </a>
                  </li>
                </ul>
              </p>
            </div>
          </section>
