<div class="row">
  <div class="col-fluid">
    <div class="matchbox">
      <h3>Pepsi Yours</h3>
      Animation for 2nd year CBM's Pepsi Soda Stream presentation.
    </div>
  </div>
</div>

<div class="embed-responsive embed-responsive-16by9">
  <iframe src="https://player.vimeo.com/video/167764073" width="780" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<div class="row">
  <div class="col-fluid">
    <div class="matchbox">
      <h4>The Task:</h4>
      Some friends of mine asked me to make a silly video animation to add some for their Pepsi Soda Stream Presentation. They presented their rebranding concept to the CMO of Pepsi and wanted to add some light hearted humor to their complete product changing pitch. I'm sure he got a good laugh out of this. LOL :)
      <br>
    </div>
  </div>
</div>

<hr>
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="tools">
          <font size="3" color="grey"><b>Tools:    </b></font>
              <li><font size="2" color="grey">After Effects</font></li>
              <li><font size="2" color="grey">Adobe Audition</font></li>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="skills">
          <font size="3" color="grey"><b>Skills:</b></font>
              <li><font size="2" color="grey">Sense of Humor</font></li>
        </div>
      </div>
    </div>

<hr>

<nav>
<ul class="pager">
<li><a href="/#/fun3">
<span class="glyphicon glyphicon-menu-left"></span><span class="glyphicon glyphicon-menu-left"></span>
window
</a></li>
<li><a href="/#/project1">screamfest
<span class="glyphicon glyphicon-menu-right"></span><span class="glyphicon glyphicon-menu-right"></span>
</a></li>
</ul>
</nav>

<!-- Footer -->
      <div class="footer">
        <section id="contact">
          <div class="links text-center">
            <a href="mailto:vegajandrea@gmail.com">
              <span class="glyphicon glyphicon-envelope"></span>
              <p class="text-center">
                <b>vegajandrea@gmail.com</b>
              </p>
            </a>
          </div>
          <div class="imgholder">
              <p>
                <ul class="list-inline text-center">
                  <li>
                    <a href="https://www.linkedin.com/in/andrea-vega-a5850b92" class="imglink">
                      <img src="images/dre/linkedin.png" alt="Image" width="30" height="auto" class="img-responsive">
                    </a>
                  </li>
                <li>
                  <a href="https://twitter.com/dreavegaa" class="imglink">
                    <img src="images/dre/twitter.png" alt="Image" width="30" height="auto" class="img-responsive">
                  </a>
                </li>
                <li>
                  <a href="https://github.com/dreavega" class="imglink">
                    <img src="images/dre/github.png" alt="Image" width="30" height="auto" class="img-responsive">
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/dreavegaa/" class="imglink">
                    <img src="images/dre/instagram.png" alt="Image" width="30" height="auto" class="img-responsive">
                  </a>
              </li>
            </ul>
          </p>
        </div>
      </section>
