      <img src="images/bh/header1.jpg" class="img-responsive">
        <div class="BH-header">
          <center>
            <h3><b>BIDDAH HUSTLE</b></h3>
              <h4>How Well Do You Know Your Brands?</h4>
        </div>

        <div class="row">
          <div class="col-lg-5 col-md-5">
            <div class="BH-1">
              <h4>I thought it would be funny to watch Brandcenter students duke it out over the one thing we all know well. BRANDS.</h4>
            </div>
          </div>
          <div class="col-lg-7 col-md-7">
            <div class="BH-white">
              <p>
                <h4>Overview</font></h4>
                  Biddah Hustle is a fast paced category game that pits players against each other to see who can name the most brands related to a specific item.
              </p>
            </div>
          </div>
        </div>

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="BH-2">
          <br><br><br>
          <center>
            <img src="images/bh/proto2.gif" class="img-responsive">
            <br>
          <span>
          <a herf="https://drive.google.com/file/d/0B3GkErmbtmuCVF8xUkFLREY3cjQ/view?usp=sharing">
            <img src="images/bh/app.png" width="70" height="70">
          </a>
            Download &amp; Play for free on on any mac device today! <img src="images/nerd-emoji.png" width="24" height="25">
          </span>
        </center>
          <br><br>
        </div>
      </div>
    </div>
<br>
<br>
<div class="row">
<div class="col-fluid">
  <div class="BH-rules">
    <center><h3><b>Game Play &amp; Rules:</b></h3></center><br>
  </div>
    <div class="row-fluid">
      <div class="col-lg-12 col-md-12 ">
        <div class="cover-container">
                <!-- START PANEL -->
                <div class="cover-item" style="background-image: url('images/bh/1.gif')">
                <br><br><br><br><br><br><br><br><br><br><br><br><br>  1.	Players pick the player order and then choose <br>the color card randomizer to determine a category.
                </div>
                <div class="cover-item" style="background-image: url('images/bh/2.gif')">
                  <br><br><br><br><br><br><br><br><br><br><br><br><br>  2.	Start from first tile then tap the die and move that <br>many spaces on the board.
                </div>
                <div class="cover-item" style="background-image: url('images/bh/3.gif')">
                  <br><br><br><br><br><br><br><br><br><br><br><br><br>  3.	The player will swipe down to reveal item topic.
                </div>
                <div class="cover-item" style="background-image: url('images/bh/4.gif')">
                  <br><br><br><br><br><br><br><br><br><br><br><br><br>  4.	Players will take turns verbally listing brands related<br> to topic until one drops out.(Debate is encouraged)
                </div>
                <div class="cover-item" style="background-image: url('images/bh/5.gif')">
                  <br><br><br><br><br><br><br><br><br><br><br><br><br>  5.	The winner of that round swipes to their <br>corresponding player number to claim that tile.
                </div>
                <div class="cover-item" style="background-image: url('images/bh/6.gif')">
                  <br><br><br><br><br><br><br><br><br><br><br><br><br>  6.	<b>Hustle Spaces:</b> Players have 60 seconds to list <br>things (back and forth) related to random topic.
                </div>
                <div class="cover-item" style="background-image: url('images/bh/7.gif')">
                  <br><br><br><br><br><br><br><br><br><br><br><br><br>  7.	The player with the most won spaces wins the general <br>category and the player with the most categories wins the game.
                </div>
                <!-- END PANEL -->
            </div>
        </div>
    </div>
</div>
</div>

        <div class="row">
          <div class="col-fluid">
            <div class="BH-colors">
              <center><h3><b>Design Aesthetics</b></h3><br>
              <img src="images/bh/colors.svg" class="img-responsive">
              <h3><b>Icon Design:</b></h3>
              The gestures of each hand drawn line capture the high energy the icons play within the game.</center>
              <img src="images/bh/card.jpg" class="img-responsive">
            </div>
          </div>
        </div>

        <center><h3><b>Before the App:</b></h3></center><br>

        <div class="row">
          <div class="col-lg-6 col-md-6">
            <h4>First Iteration:</h4>Before fleshing out the mechanics of the game, we focused on our branding concept. We designed a physical version of the same game, using a ladder point system.
              <img src="images/bh/board.jpg" class="img-responsive">
          </div>
          <div class="col-lg-6 col-md-6">
            <h4>Second Iteration:</h4>Going digital. We knew we wanted to make this game accessible to users everywhere, so they could play in any situation. The digital aspect also gives it the exciting fast pace competitive element.
              <img src="images/bh/boards.gif" class="img-responsive">
          </div>
        </div>
      </div>

      <hr>
          <center>
            <b>AD:</b>
            <a href="http://www.chrislumain.com/upp/#/biddah-hustle/">Chris Lumain</a>
          </center>

          <hr>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="tools">
                    <font size="3" color="grey"><b>Tools:    </b></font>
                        <li><font size="2" color="grey">Principle</font></li>
                        <li><font size="2" color="grey">Sketch</font></li>
                        <li><font size="2" color="grey">Photoshop</font></li>
                        <li><font size="2" color="grey">Illustrator</font></li>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="skills">
                    <font size="3" color="grey"><b>Skills:</b></font>
                        <li><font size="2" color="grey">Wireframing</font></li>
                        <li><font size="2" color="grey">Digital Prototyping</font></li>
                        <li><font size="2" color="grey">User Experience</font></li>
                        <li><font size="2" color="grey">User Interface</font></li>
                  </div>
                </div>
              </div>

          <hr>

          <nav>
  <ul class="pager">
    <li><a href="/#/project1">
      <span class="glyphicon glyphicon-menu-left"></span><span class="glyphicon glyphicon-menu-left"></span>
      screamfest
    </a></li>
    <li><a href="/#/project3">e-waste
      <span class="glyphicon glyphicon-menu-right"></span><span class="glyphicon glyphicon-menu-right"></span>
    </a></li>
  </ul>
</nav>

        <!-- Footer -->
                <div class="footer">
                  <section id="contact">
                    <div class="links text-center">
                      <a href="mailto:vegajandrea@gmail.com">
                        <span class="glyphicon glyphicon-envelope"></span>
                        <p class="text-center">
                          <b>vegajandrea@gmail.com</b>
                        </p>
                      </a>
                    </div>
                    <div class="imgholder">
                        <p>
                          <ul class="list-inline text-center">
                            <li>
                              <a href="https://www.linkedin.com/in/andrea-vega-a5850b92" class="imglink">
                                <img src="images/dre/linkedin.png" alt="Image" width="30" height="auto" class="img-responsive">
                              </a>
                            </li>
                          <li>
                            <a href="https://twitter.com/dreavegaa" class="imglink">
                              <img src="images/dre/twitter.png" alt="Image" width="30" height="auto" class="img-responsive">
                            </a>
                          </li>
                          <li>
                            <a href="https://github.com/dreavega" class="imglink">
                              <img src="images/dre/github.png" alt="Image" width="30" height="auto" class="img-responsive">
                            </a>
                          </li>
                          <li>
                            <a href="https://www.instagram.com/dreavegaa/" class="imglink">
                              <img src="images/dre/instagram.png" alt="Image" width="30" height="auto" class="img-responsive">
                            </a>
                        </li>
                      </ul>
                    </p>
                  </div>
                </section>
