  <div class="D-header">
    <center>
      <h2><b>D-A-S-H</b></h2>
      <h3>Video &amp; Details Coming Soon!</h3>
      Below is an overview of the prototype and project.</h4>
    </center>
  </div>

  <img src="images/dash/d-header.png" class="img-responsive">
  <img src="images/dash/1.jpg" class="img-responsive">
  <img src="images/dash/2.jpg" class="img-responsive">

  <hr>
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="tools">
            <font size="3" color="grey"><b>Tools:    </b></font>
                <li><font size="2" color="grey">Arduino</font></li>
                <li><font size="2" color="grey"><a href="http://fritzing.org/home/">Fritzing</a></font></li>
                <li><font size="2" color="grey">Sketch</font></li>
                <li><font size="2" color="grey">Photoshop</font></li>
                <li><font size="2" color="grey">3D Printing</font></li>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="skills">
            <font size="3" color="grey"><b>Skills:</b></font>
                <li><font size="2" color="grey">Wireframing</font></li>
                <li><font size="2" color="grey">Javascript</font></li>
                <li><font size="2" color="grey">Digital Prototyping</font></li>
                <li><font size="2" color="grey">User Experience</font></li>
                <li><font size="2" color="grey">User Interface</font></li>
          </div>
        </div>
      </div>

  <hr>

  <nav>
<ul class="pager">
<li><a href="/#/project3">
<span class="glyphicon glyphicon-menu-left"></span><span class="glyphicon glyphicon-menu-left"></span>
e-waste
</a></li>
<li><a href="/#/fun">fun things
<span class="glyphicon glyphicon-menu-right"></span><span class="glyphicon glyphicon-menu-right"></span>
</a></li>
</ul>
</nav>

<!-- Footer -->
        <div class="footer">
          <section id="contact">
            <div class="links text-center">
              <a href="mailto:vegajandrea@gmail.com">
                <span class="glyphicon glyphicon-envelope"></span>
                <p class="text-center">
                  <b>vegajandrea@gmail.com</b>
                </p>
              </a>
            </div>
            <div class="imgholder">
                <p>
                  <ul class="list-inline text-center">
                    <li>
                      <a href="https://www.linkedin.com/in/andrea-vega-a5850b92" class="imglink">
                        <img src="images/dre/linkedin.png" alt="Image" width="30" height="auto" class="img-responsive">
                      </a>
                    </li>
                  <li>
                    <a href="https://twitter.com/dreavegaa" class="imglink">
                      <img src="images/dre/twitter.png" alt="Image" width="30" height="auto" class="img-responsive">
                    </a>
                  </li>
                  <li>
                    <a href="https://github.com/dreavega" class="imglink">
                      <img src="images/dre/github.png" alt="Image" width="30" height="auto" class="img-responsive">
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/dreavegaa/" class="imglink">
                      <img src="images/dre/instagram.png" alt="Image" width="30" height="auto" class="img-responsive">
                    </a>
                </li>
              </ul>
            </p>
          </div>
        </section>
