    <img src="images/era/era-header.png" class="img-responsive">

      <!--<div class="ERA-header">
        <center><h3>Giving the next generation the skills to extend product life.</h3></center>
      </div>   2FA939-->

      <div class="row">
        <div class="col-lg-5 col-md-5">
          <div class="ERA-header">
            <h3>e-waste:</h3>
            <p style="font-size:18px">(n.) electronic products that are no longer wanted or considered <i>obsolete</i>, regardless of their working condition.</p>
          </div>
        </div>
        <div class="col-lg-7 col-md-7">
          <div class="ERA-white">
            <h4>The Problem</h4>
              <p style="font-size:16px">E-waste has become the Toxic Legacy of our Digital Age. Various toxic chemicals from electronic products end up in landfills throughout the world, leading to major soil, water and air contamination.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="ERA-1">
          <img src="images/era/research.svg" class="img-responsive">
        </div>
      </div>
      <br>

    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="ERA-white2">
          <h4>Our Analysis:</h4>
            <p style="font-size:16px">People lack the education to fix technical damages/issues themselves. </p>
          <p>
          <h4>The Solution:</h4>
            <p style="font-size:16px">Give the next generation the skills to extend product life.</p>
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <img src="images/era/era_small.png" class="img-responsive">
      </div>
    </div>

    <div id="ERA-2">
      <div class="row">
        <div class="col-fluid">
          <img src="images/era/stem.svg" class="img-responsive">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-fluid">
        <img src="images/era/process.svg" class="img-responsive">
      </div>
    </div>

<hr>
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="tools">
          <font size="3" color="grey"><b>Tools:    </b></font>
              <li><font size="2" color="grey">Sketch      </font></li>
              <li><font size="2" color="grey">Photoshop  </font></li>
              <li><font size="2" color="grey">Illustrator</font></li>
              <li><font size="2" color="grey">Principle   </font></li>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="skills">
          <font size="3" color="grey"><b>Skills:</b></font>
              <li><font size="2" color="grey">Focus Groups</font></li>
              <li><font size="2" color="grey">Social Listening</font></li>
              <li><font size="2" color="grey">Digital Prototyping</font></li>
        </div>
      </div>
    </div>

    <hr>
        <center>
          <b>Team:</b> Stanley Hines - XD,
          <a href="http://www.robingreenbaum.com/#soraksan"> Robin Greenbaum</a> - ST, Bobby Jonston - ST
        </center>
    <hr>

    <nav>
  <ul class="pager">
  <li><a href="/#/project2">
  <span class="glyphicon glyphicon-menu-left"></span><span class="glyphicon glyphicon-menu-left"></span>
  biddah hustle
  </a></li>
  <li><a href="/#/project4">dash
  <span class="glyphicon glyphicon-menu-right"></span><span class="glyphicon glyphicon-menu-right"></span>
  </a></li>
  </ul>
  </nav>

  <!-- Footer -->
          <div class="footer">
            <section id="contact">
              <div class="links text-center">
                <a href="mailto:vegajandrea@gmail.com">
                  <span class="glyphicon glyphicon-envelope"></span>
                  <p class="text-center">
                    <b>vegajandrea@gmail.com</b>
                  </p>
                </a>
              </div>
              <div class="imgholder">
                  <p>
                    <ul class="list-inline text-center">
                      <li>
                        <a href="https://www.linkedin.com/in/andrea-vega-a5850b92" class="imglink">
                          <img src="images/dre/linkedin.png" alt="Image" width="30" height="auto" class="img-responsive">
                        </a>
                      </li>
                    <li>
                      <a href="https://twitter.com/dreavegaa" class="imglink">
                        <img src="images/dre/twitter.png" alt="Image" width="30" height="auto" class="img-responsive">
                      </a>
                    </li>
                    <li>
                      <a href="https://github.com/dreavega" class="imglink">
                        <img src="images/dre/github.png" alt="Image" width="30" height="auto" class="img-responsive">
                      </a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/dreavegaa/" class="imglink">
                        <img src="images/dre/instagram.png" alt="Image" width="30" height="auto" class="img-responsive">
                      </a>
                  </li>
                </ul>
              </p>
            </div>
          </section>
